<ng-template #endline>
  ,
</ng-template>

<div id="app" style="width: 100vmin"  [ngClass]="{'fullscreen': fen.disp != 'play', stopselect: !modeCreator}">
  <div style="width:100%;height:100%;" (click)="fullscreen()"></div>
  <div  (click)="$event.stopPropagation()" id="applet"  tabindex="0"  [ngClass]="{ 'fullscreen': fen.disp != 'play'}" autofocus ng-keydown="keydown($event)">

      <input id="undo"  [hidden]="!(fen.disp != 'play')" (click)="undo()"      value="Undo" type="button" />
      <input id="paramP4" [hidden]="!(fen.disp != 'play')" (click)="displayOption()" value="option"  type="button" />

      <div  id="p4" >
        <span class="pion" ondragstart="return false" (click)="fallenPion(i_c)" *ngFor="let pion of goodGrille(); let i_c = index" (mouseover)="preview.set(i_c)"  >

          <img [ngStyle]="{'backgroundColor':graphique(pion)}" src="{{_1px}}"/>
            <p  [hidden]='!modeCreator' style="position:absolute;margin-top: -8%;margin-left: 6%;">{{pion}},</p>
            <br ng-if="i_c%7==6" />
        </span>
        <!-- rejouer -->
        <span  [ngClass]="replayIconPop.getClassF()" class="replay" (click)="init()"  ></span>
        <span  [ngClass]="replayIconPop.getClassF()" (click)="init();" id="white">
          <p id="rejouer" style="position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">Play again</p>
          <img src="{{reload_img}}"/>
        </span>



        <div  class="colum" (click)="columnClick($event)"  [ngClass]="popup.getClass()" >
          <div [hidden]="!replayIcon()" id="message" class="colum2" >
              {{message}}
          </div>
          <div [hidden]="fen.disp != 'option'" class="colum2" >
            <input id="Input3"  [ngStyle]="getSaveStyle()" value="Save" (click)="save()" type="button"/>
            <input id="Input4" value="Restore" (click)="restore()" type="button"/>
            <input id="Input5" value="Play again" (click)="init()" type="button"/>
            <input id="Input6" [value]="'Animation are '+(animation2 ? 'off' : 'on')" (click)="reverse('animation2')" type="button"/>
            <!-- <input id="Input1" value="Undo" (click)="undo()" type="button"> -->
            <input id="Input2" [value]=" isBotActive ? 'Bot is running' : 'Bot is not running' " (click)="reverseIsBotActive()" type="button"/>
            <input id="Input7" value="Switch developer / player " (click)="modeleCreator()" type="button">
          </div>
        </div>
      </div>
      <!--
      <div   [hidden]="!fen.disp != 'play'" id="sliderID">
          <slider ng-mousedown="fen.clic=false" floor="0" ceiling="100" step="1" precision="2" ng-model="ia.dif"></slider>
      </div>
      -->


        <div [hidden]="!modeCreator" style="width:100%;">
          Good morning developer, this is the grid representing the current state <br/>

          <app-input type="number" [val]="minLine" (valueChange)="update_val('minLine',$event)">first line</app-input><br/>
          <app-input type="number" [val]="maxLine" (valueChange)="update_val('maxLine',$event)">last line</app-input><br/>
          <app-input type="number" [val]="minCol" (valueChange)="update_val('minCol',$event)">first column</app-input><br/>
          <app-input type="number" [val]="maxCol" (valueChange)="update_val('maxCol',$event)">last column</app-input><br/>
          [<br/>
          [<br/>
          <ng-container *ngFor="let pion of goodGrille();let i = index">
          <ng-container *ngFor="let o of [{col: i%7, line: Math.floor(i/7) }]">
            <ng-container *ngIf="maxCol >= o.col && minCol <= o.col && minLine <= o.line && maxLine >= o.line">
              <span> {{pion}}</span>
              <br *ngIf="maxCol%7 == o.col; else endline"/>
            </ng-container>
         </ng-container>
         </ng-container>

          <br/>

          <strong>Choose with the keyboard before clicking:</strong><br/>
          //1 Yellow<br/>
          //2 Red<br/>
          //3 Yellow odd<br/>
          //4 jaune pair<br/>
          //5 Everything visible<br/>
          //6 Everything visible expect 0<br/>
          //7 Red odd<br/>
          //8 Red pair<br/>
          //9 Everything and even non existing line or column<br/><br/>
          <strong>the following options are for empty boxes exclusively:</strong> <br/>
          //h red does not win in this box <br/>
          //g Yellow win in this box<br/>
          //e there is no red winner pair j2 on this column (a red box is said to be winning if it is on an even line starting from the bottom with the index 1 and no yellow odd box that can directly win is at below)<br/>
          //i Red can win here<br/>
          //j yellow don't win here<br/>
          //. j and i at same time<br/>
          //r e et g  (depreciated )<br/>
          //f g et h
          //z Is not yellow <br/>
          //y Is not red <br/>
      </div>

  </div>
</div>
